<section id="powerz">
    <div class="container-fluid text-center">
    <h6 class="text-center" id="sect-title"">Power's Picks</h6>
  
     <div class="container text-center mt-5">
        <div class="row row-cols-2 justify-content-around">
  
          <div class="col mt-4" id="gregg">
            <img src="power_image.jpg" class="rounded float-start mt-4" id="plcdd" style="opacity: 100%;"> 
          </div>
  
          <div class="col" style="margin-left: -150px;">
             <ul class="image-list-small">
      <li>
        <a style="background-image: url('/images/gallery/power/6445641e2f1632904e0721ac11898042.jpg'); background-size: 100% 100%;"></a>
      </li>
      <li>
        <a style="background-image: url('/images/gallery/power/dfn6x9k-3dc1ff6a-cb7d-4fac-9170-936da0385124.png'); background-size: 100% 100%;"></a>
      </li>
      <li>
        <a style="background-image: url('/images/gallery/power/power___chainsaw_man_by_a1nime_dg172rv-fullview.jpg'); background-size: 100% 100%;"></a>
      </li>
      <li>
        <a style="background-image: url('/images/gallery/power/Power_13x19_2ccd9d10-8dd6-42c8-811b-b142e3dba45b.webp'); background-size: 100% 100%;"></a>
      </li>
      <li>
         <a style="background-image: url('/images/gallery/power/axadir_un_txtulo_x37x.jpg_423682103.webp'); background-size: 100% 100%;"></a>
      </li>
      <li>
        <a style="background-image: url('/images/gallery/power/power_render___chainsaw_man___by_hellhound0101_dekbyub-fullview.png'); background-size: 100% 100%;"></a> 
      </li>
      <li>
        <a style="background-image: url('/images/gallery/power/power-pfp-3455.png'); background-size: 100% 100%;"></a> 
      </li>
      <li>
        <a style="background-image: url('/images/gallery/power/Power.600.3032005.jpg'); background-size: 100% 100%;"></a>  
      </li>
      <li>
        <a style="background-image: url('/images/gallery/power/power_com.jpg'); background-size: 100% 100%;"></a> 
      </li>
     </ul>
          </div>
  
        </div>
      </div> 
  
   </div>
  </section>
  
  <script>
    (function updatePowerImagesWhenReady() {
      const imageURLs = [
        "https://static.zerochan.net/Power.1024.3391567.webp",
        "https://static.zerochan.net/Power.1024.3281015.webp",
        "https://static.zerochan.net/Power.1024.3496960.webp",
        "https://static.zerochan.net/Power.1024.3837473.webp",
        "https://static.zerochan.net/Power.1024.3884786.webp",
        "https://static.zerochan.net/Power.1024.3932714.webp",
        "https://static.zerochan.net/Power.1024.3992697.webp",
        "https://static.zerochan.net/Power.1024.3969651.webp", 
        "https://static.zerochan.net/Power.1024.3931925.webp",
        "https://static.zerochan.net/Power.1024.3916311.webp",
        "https://static.zerochan.net/Power.1024.3911187.webp",
        "https://static.zerochan.net/Power.1024.3911177.webp",
        "https://static.zerochan.net/Power.1024.3901830.webp",
        "https://static.zerochan.net/Power.1024.3896517.webp", 
        "https://static.zerochan.net/Power.1024.3887035.webp"
      ];
    
      function shuffle(array) {
        for (let i = array.length - 1; i > 0; i--) {
          const j = Math.floor(Math.random() * (i + 1));
          [array[i], array[j]] = [array[j], array[i]];
        }
        return array;
      }
    
      function updateImages() {
        const section = document.querySelector("#powerz");
        if (!section) return false;
    
        const aTags = section.querySelectorAll(".image-list-small li a");
        if (aTags.length === 0) return false;
    
        const shuffled = shuffle([...imageURLs]).slice(0, aTags.length);
    
        aTags.forEach((aTag, i) => {
          aTag.style.setProperty("background-image", `url('${shuffled[i]}')`, "important");
          aTag.style.setProperty("background-size", "100% 100%", "important");
        });
    
        return true;
      }
    
      if (!updateImages()) {
        const observer = new MutationObserver(() => {
          if (updateImages()) observer.disconnect();
        });
    
        observer.observe(document.body, { childList: true, subtree: true });
      }
    })();
    </script>
    